---
http_interactions:
- request:
    method: post
    uri: https://sandbox.moip.com.br/v2/preferences/notifications
    body:
      encoding: UTF-8
      string: '{"events":["PAYMENT.*"],"target":"http://example.com/moip_notification/EWXr4g5k91BrC9Cp8WAYpbSC","media":"WEBHOOK"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic RkFISEk1TERRWlczRU1ZUzI1WUQzUFNOVTJWR1JUUk06Sk9FM1FRTUlZWFJaUFRBUlM2STNWRFpGSE9TQlBQRTNLWTk1RUM1MA==
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"events":["PAYMENT.*"],"target":"http://example.com/moip_notification/EWXr4g5k91BrC9Cp8WAYpbSC","media":"WEBHOOK","token":"e105cc3f577f43caa67a5ad14e472796","id":"NPR-J1VE6UW9WM3R"}'
  recorded_at: Thu, 26 Oct 2017 12:54:09 GMT
- request:
    method: delete
    uri: https://sandbox.moip.com.br/v2/preferences/notifications/NPR-J1VE6UW9WM3R
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic RkFISEk1TERRWlczRU1ZUzI1WUQzUFNOVTJWR1JUUk06Sk9FM1FRTUlZWFJaUFRBUlM2STNWRFpGSE9TQlBQRTNLWTk1RUM1MA==
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 26 Oct 2017 12:54:10 GMT
recorded_with: VCR 3.0.3
