---
http_interactions:
- request:
    method: post
    uri: https://sandbox.moip.com.br/v2/preferences/notifications
    body:
      encoding: UTF-8
      string: '{"events":["PAYMENT.*"],"target":"http://example.com/moip_webhook/1","media":"WEBHOOK"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic RkFISEk1TERRWlczRU1ZUzI1WUQzUFNOVTJWR1JUUk06Sk9FM1FRTUlZWFJaUFRBUlM2STNWRFpGSE9TQlBQRTNLWTk1RUM1MA==
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"events":["PAYMENT.*"],"target":"http://example.com/moip_webhook/1","media":"WEBHOOK","token":"9a04bc31741b4aad9e00c6a581a84ee8","id":"NPR-FXFLTB3SR9RQ"}'
  recorded_at: Sun, 22 Oct 2017 05:25:11 GMT
- request:
    method: delete
    uri: https://sandbox.moip.com.br/v2/preferences/notifications/NPR-FXFLTB3SR9RQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic RkFISEk1TERRWlczRU1ZUzI1WUQzUFNOVTJWR1JUUk06Sk9FM1FRTUlZWFJaUFRBUlM2STNWRFpGSE9TQlBQRTNLWTk1RUM1MA==
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 22 Oct 2017 05:25:13 GMT
recorded_with: VCR 3.0.3
