---
http_interactions:
- request:
    method: post
    uri: https://sandbox.moip.com.br/v2/customers/CUS-5FQX69H43JOZ/fundinginstruments
    body:
      encoding: UTF-8
      string: '{"method":"CREDIT_CARD","creditCard":{"holder":{"fullname":"Spree Commerce","birthdate":"1990-01-01","taxDocument":{"type":"CPF","number":"67822412183"}},"number":"5555666677778884","expirationMonth":5,"expirationYear":2018,"cvc":"123"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic RkFISEk1TERRWlczRU1ZUzI1WUQzUFNOVTJWR1JUUk06Sk9FM1FRTUlZWFJaUFRBUlM2STNWRFpGSE9TQlBQRTNLWTk1RUM1MA==
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"creditCard":{"id":"CRC-9WIVR0D20K2D","brand":"MASTERCARD","first6":"555566","last4":"8884","store":true},"card":{"brand":"MASTERCARD","store":true},"method":"CREDIT_CARD"}'
  recorded_at: Thu, 26 Oct 2017 00:04:37 GMT
recorded_with: VCR 3.0.3
